version: 2

updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 5
    reviewers:
      - "chadgreen"
    labels:
      - "dependencies"
      - "github-actions"
    allow:
      - dependency-type: "all"
